.hero__paragraph {
  margin: 0;
  margin-bottom: 4.30rem;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  color: var(--text-color-primary);
}

@media screen and (max-width: 82.5em) {
  .hero__paragraph {
    margin-bottom: 2.00rem;
  }
}

@media screen and (max-width: 56.5em) {
  .hero__paragraph {
    margin-bottom: 2.20rem;
  }
}

@media screen and (max-width: 40em) {
  .hero__paragraph {
    margin-bottom: 1.90rem;
    font-size: 1.40rem;
  }
}
