<div class="primary-navigation">
  <div class="container primary-navigation__container">
    <%= require('./__logo/primary-navigation__logo.ejs')() %>
    <%= require('./__nav/primary-navigation__nav.ejs')() %>
    <%= require('./__search/primary-navigation__search.ejs')() %>
  </div>
</div>
