.broadcasts__title {
  margin: 0;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 4.80rem;
  font-weight: 400;
  line-height: 1.00;
  color: var(--text-color-primary);
}

@media screen and (max-width: 56.5em) {
  .broadcasts__title {
    margin-bottom: 6.30rem;
  }
}

@media screen and (max-width: 40em) {
  .broadcasts__title {
    margin: 0;
    font-size: 2.40rem;
  }
}
