.hero__title {
  margin: 0;
  margin-bottom: 1.40rem;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 6.00rem;
  font-weight: 400;
  line-height: 1.00;
  color: var(--text-color-primary);
}

@media screen and (max-width: 40em) {
  .hero__title {
    margin-bottom: 1.00rem;
    font-size: 3.20rem;
  }
}

.hero__title-bold-part {
  font-weight: 700;
}

.hero__title-italic-part {
  font-style: italic;
}
