<nav class="secondary-navigation__nav">
  <ul class="secondary-navigation__list">
    <li class="secondary-navigation__li">
      <a href="#podcasts" class="secondary-navigation__nav-link">
        Подкасты
      </a>
    </li>
    <li class="secondary-navigation__li">
      <a href="#playlists" class="secondary-navigation__nav-link">
        Плейлисты
      </a>
    </li>
    <li class="secondary-navigation__li">
      <a href="#" class="secondary-navigation__nav-link">
        Новости
      </a>
    </li>
    <li class="secondary-navigation__li">
      <a href="#broadcasts" class="secondary-navigation__nav-link">
        Передачи
      </a>
    </li>
    <li class="secondary-navigation__li">
      <a href="#" class="secondary-navigation__nav-link">
        Сетка
      </a>
    </li>
    <li class="secondary-navigation__li">
      <a href="#" class="secondary-navigation__nav-link">
        Блоги
      </a>
    </li>
    <li class="secondary-navigation__li">
      <a href="#guests" class="secondary-navigation__nav-link">
        Гости
      </a>
    </li>
    <li class="secondary-navigation__li">
      <a href="#aboutUs" class="secondary-navigation__nav-link">
        О&nbsp;нас
      </a>
    </li>
    <li class="secondary-navigation__li">
      <a href="#" class="secondary-navigation__nav-link">
        Топы
      </a>
    </li>
  </ul>
</nav>
