<a href="/" class="primary-navigation__logo">
  <img src="<%= require('./primary-navigation-logo.svg') %>" width="160" height="20" alt="Logotype of Radio W-Wave LLC" class="primary-navigation__logo-img"/>
</a>
