.primary-navigation__logo {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  margin: 0;
  margin-right: 8.00rem;
  padding: 0;
  width: 16.00rem;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 82.5em) {
  .primary-navigation__logo {
    margin-right: auto;
    width: 11.20rem;
  }
}

@media screen and (max-width: 40em) {
  .primary-navigation__logo {
    width: 8.70rem;
  }
}

@media (hover: none) {
  .primary-navigation__logo {
    cursor: none;
  }
}

.primary-navigation__logo:focus-visible {
  outline: 1px solid var(--foreground-color-hover);
  outline-offset: 3px;
}

@media (hover: none) {
  .primary-navigation__logo:focus-visible {
    outline: none;
  }
}

.primary-navigation__logo-img {
  width: 100%;
  height: auto;
}
