<section class="about-us">
  <div class="container about-us__container">
    <%= require('./__text-block/about-us__text-block.ejs')() %>
    <%= require('./__author-list/about-us__author-list.ejs')() %>
    <%= require('./__ssatForm/about-us__ssatForm.ejs')() %>
  </div>
</section>
