@import url('./__title/broadcasts__title.css');
@import url('./__archive/broadcasts__archive.css');
@import url('./__list/broadcasts__list.css');

.broadcasts {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--backgroung-color-primary);
}

.broadcasts__container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 3.00rem;
  padding: 9.40rem 0;
}

@media screen and (max-width: 56.5em) {
  .broadcasts__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    gap: 6.00rem;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 40em) {
  .broadcasts__container {
    gap: 2.90rem;
    padding: 5.40rem 0;
  }
}
