<section class="broadcasts">
  <div class="container broadcasts__container">
    <%= require('./__title/broadcasts__title.ejs')() %>
    <%= require('./__archive/broadcasts__archive.ejs')() %>
    <%= require('./__list/broadcasts__list.ejs')() %>
  </div>
</section>
