<div class="advertisement__item">
  <img src="<%= require('./w-wave_1_xm.svg') %>" alt="Фотография радиоприемника-колонки W-WAVE 1.0 xm" width="640" height="566" loading="lazy" class="advertisement__item-img">
</div>
