<div class="broadcast__archive">
  <div class="broadcast__archive-wrapper">
    <a href="#" class="broadcast__archive-link">Архив</a>
    <span class="broadcast__archive-desc">В&nbsp;архив попадают все передачи, которые вы&nbsp;пропустили! Enjoy:)</span>
  </div>
</div>
