.broadcast__archive {
  grid-row: 2;
  grid-column: 1;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 56.5em) {
  .broadcast__archive {
    position: relative;
    grid-row: 3;
    grid-column: 1;
    align-items: center;
    padding: 3.00rem 0;
  }

  .broadcast__archive::before {
    content: '';
    position: absolute;
    top: 0;
    left: -14.8438vw;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    border-top: 1px solid #E6E8EC;
  }
}

@media screen and (max-width: 40em) {
  .broadcast__archive {
    padding-bottom: 0;
  }
}

.broadcast__archive-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 11.30rem;
  max-width: 25.50rem;
  width: 100%;
  background: top left / 6.50rem 8.90rem no-repeat url('./broadcasts_microphone.webp');
}

@media screen and (max-width: 56.5em) {
  .broadcast__archive-wrapper {
    padding-top: 0;
    padding-left: 9.00rem;
    max-width: 34.50rem;
    background-size: contain;
  }
}

@media screen and (max-width: 40em) {
  .broadcast__archive-wrapper {
    padding-top: 0;
    padding-left: 9.00rem;
  }
}

.broadcast__archive-link {
  display: inline-block;
  order: 1;
  margin: 0;
  margin-bottom: 1.20rem;
  padding: 1.00rem 5.40rem;
  border: 0.20rem solid var(--text-color-primary);
  border-radius: 7.70rem;
  outline: none;
  text-align: center;
  vertical-align: middle;
  font-family: Muller, sans-serif;
  font-size: 1.60rem;
  font-weight: 500;
  line-height: 1.00;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color-primary);
  cursor: pointer;
  background-color: var(--backgroung-color-primary);
  transition: border-color var(--transition-time-slow) linear, color var(--transition-time-slow) linear, background-color var(--transition-time-slow) linear;
}

@media screen and (max-width: 56.5em) {
  .broadcast__archive-link {
    margin-bottom: 0.80rem;
  }
}

@media screen and (max-width: 40em) {
  .broadcast__archive-link {
    order: 2;
    margin-bottom: 0;
    padding: 0.75rem 2.90rem;
  }
}

@media (hover: none) {
  .broadcast__archive-link {
    cursor: none;
  }
}

.broadcast__archive-link:focus-visible {
  border-color: var(--text-color-contrast-secondary);
  color: var(--text-color-contrast);
  background-color: var(--text-color-contrast-secondary);
}

.broadcast__archive-link:hover:not(:focus-visible) {
  border-color: #292E39;
  color: var(--text-color-contrast);
  background-color: var(--backgroung-color-contrast-secondary);
}

.broadcast__archive-link:active:not(:focus-visible) {
  border-color: var(--text-color-primary);
  color: var(--text-color-contrast);
  background-color: var(--backgroung-color-contrast);
  transition: border-color var(--transition-time-fast) ease-out, color var(--transition-time-fast) ease-out, background-color var(--transition-time-fast) ease-out;
}

@media (hover: none) {
  .broadcast__archive-link:focus-visible {
    border-color: var(--text-color-primary);
    color: var(--text-color-primary);
    background-color: var(--backgroung-color-primary);
  }

  .broadcast__archive-link:hover:not(:focus-visible) {
    border-color: var(--text-color-primary);
    color: var(--text-color-primary);
    background-color: var(--backgroung-color-primary);
  }
}

.broadcast__archive-desc {
  order: 2;
  margin: 0;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color-contrast-secondary);
}

@media screen and (max-width: 40em) {
  .broadcast__archive-desc {
    order: 1;
    margin-bottom: 0.90rem;
    font-size: 1.40rem;
  }
}
