<nav class="primary-navigation__nav">
  <ul class="primary-navigation__list">
    <li class="primary-navigation__li">
      <a href="#podcasts" class="primary-navigation__nav-link">
        Подкасты
      </a>
    </li>
    <li class="primary-navigation__li">
      <a href="#broadcasts" class="primary-navigation__nav-link">
        Передачи
      </a>
    </li>
    <li class="primary-navigation__li">
      <a href="#guests" class="primary-navigation__nav-link">
        Гости
      </a>
    </li>
    <li class="primary-navigation__li">
      <a href="#playlists" class="primary-navigation__nav-link">
        Плейлисты
      </a>
    </li>
    <li class="primary-navigation__li">
      <a href="#aboutUs" class="primary-navigation__nav-link">
        О&nbsp;нас
      </a>
    </li>
  </ul>
</nav>
