@import url('./__logo/secondary-navigation__logo.css');
@import url('./__socials-list/secondary-navigation__socials-list.css');
@import url('./__nav/secondary-navigation__nav.css');

.secondary-navigation {
  margin: 0;
  padding: 0;
}

.secondary-navigation__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 9.40rem;
  padding-bottom: 8.40rem;
}

@media screen and (max-width: 56.5em) {
  .secondary-navigation__container {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 7.00rem;
  }
}

@media screen and (max-width: 40em) {
  .secondary-navigation__container {
    padding: 0;
  }
}

.secondary-navigation__left-top-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.50rem;
}

@media screen and (max-width: 56.5em) {
  .secondary-navigation__left-top-block {
    align-items: center;
    margin-bottom: 8.00rem;
    width: 100%;
  }
}

@media screen and (max-width: 40em) {
  .secondary-navigation__left-top-block {
    position: relative;
    align-items: center;
    padding: 5.40rem 0;
    margin-bottom: 0;
  }

  .secondary-navigation__left-top-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10vw;
    width: 100vw;
    height: 100%;
    background-color: var(--backgroung-color-contrast-secondary);
  }
}
