<div class="secondary-navigation">
  <div class="container secondary-navigation__container">
    <div class="secondary-navigation__left-top-block">
      <%= require('./__logo/secondary-navigation__logo.ejs')() %>
      <%= require('./__socials-list/secondary-navigation__socials-list.ejs')() %>
    </div>
    <%= require('./__nav/secondary-navigation__nav.ejs')() %>
  </div>
</div>
