@import url('./__info/footer-legal__info.css');

.footer-legal {
  overflow-x: hidden;
  margin: 0;
  padding-top: 3.00rem;
  padding-bottom: 1.00rem;
  background: top 1.00rem left -5.00rem / max(100vw, 192.0rem) 1.00rem no-repeat url('footer-horizontal-spiral.svg'), #292E39;
}

.footer-legal__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
