<a href="/" class="secondary-navigation__logo">
  <img src="<%= require('./secondary-navigation-logo.svg') %>" width="160" height="20" alt="Logotype of Radio W-Wave LLC" class="secondary-navigation__logo-img"/>
</a>
