.about-us__text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 47.50rem;
  background-image: url('./about-us-vertical-spiral.svg'), url('./dawn.svg');
  background-position: center right 28.45rem, center right;
  background-size: contain, 25.50rem 25.50rem;
  background-repeat: no-repeat, no-repeat;
}

@media screen and (max-width: 82.5em) {
  .about-us__text-block {
    padding-right: 28.50rem;
    background-image: url('./dawn.svg');
    background-position: center right;
    background-size: 25.50rem 25.50rem;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 56.5em) {
  .about-us__text-block {
    position: relative;
    padding-right: 0;
    padding-bottom: 14.20rem;
    background: none;
  }

  .about-us__text-block::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -14.8437vw;
    width: calc(100% + 14.8437vw);
    height: 11.20rem;
    background-image: url('./about-us-horizontal-spiral.svg'), url('./dawn.svg');
    background-position: center left, center right;
    background-size: calc(100% - 14.20rem) 100%, 11.20rem 11.20rem;
    background-repeat: no-repeat, no-repeat;
  }
}

@media screen and (max-width: 40em) {
  .about-us__text-block {
    position: initial;
    padding-bottom: 0;
  }

  .about-us__text-block::before {
    content: none;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 1.20rem;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 4.80rem;
  font-weight: 400;
  line-height: 1.00;
  color: var(--text-color-contrast);
}

@media screen and (max-width: 40em) {
  .about-us__title {
    font-size: 2.40rem;
  }
}

.about-us__decoration {
  margin: 0;
  margin-bottom: 0.80rem;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 2.00rem;
  font-weight: 700;
  line-height: 1.50;
  color: var(--text-color-contrast-secondary);
}

@media screen and (max-width: 40em) {
  .about-us__decoration {
    margin-bottom: 0.40rem;
    font-size: 1.40rem;
  }
}

.about-us__paragraph {
  margin: 0;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 2.00rem;
  font-weight: 400;
  line-height: 1.60;
  color: var(--text-color-contrast-secondary);
}

@media screen and (max-width: 40em) {
  .about-us__paragraph {
    font-size: 1.40rem;
  }
}
