.advertisement__title {
  margin: 0;
  margin-bottom: 1.90rem;
  padding: 0;
  padding-bottom: 2.90rem;
  font-family: Muller, sans-serif;
  font-size: 4.80rem;
  font-weight: 400;
  line-height: 1.00;
  color: #F0D288;
  background: bottom left / contain no-repeat url('./wave.svg');
}

@media screen and (max-width: 40em) {
  .advertisement__title {
    margin-bottom: 1.30rem;
    padding-bottom: 2.20rem;
    font-size: 2.40rem;
  }
}
