@import url('./__title/guests__title.css');
@import url('./__we-have-title/guests__we-have-title.css');
@import url('./__we-have/guests__we-have.css');
@import url('./__list/guests__list.css');

.guests {
  margin: 0;
  padding: 0;
  background-color: var(--backgroung-color-contrast);
}

.guests__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9.45rem 0;
}

@media screen and (max-width: 82.5em) {
  .guests__container {
    padding: 9.30rem 0;
  }
}

@media screen and (max-width: 56.5em) {
  .guests__container {
    padding: 9.60rem 0;
  }
}

@media screen and (max-width: 40em) {
  .guests__container {
    padding: 5.40rem 0;
  }
}
