<section class="guests">
  <div class="container guests__container">
    <%= require('./__title/guests__title.ejs')() %>
    <%= require('./__we-have-title/guests__we-have-title.ejs')() %>
    <%= require('./__we-have/guests__we-have.ejs')() %>
    <%= require('./__list/guests__list.ejs')() %>
  </div>
</section>
