.secondary-navigation__socials-list {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 2.10rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.secondary-navigation__socials-li {
  flex: 0 1 calc((100% - 4.20rem) / 3);
  margin: 0;
  padding: 0;
  font-size: 0;
}

.secondary-navigation__socials-link {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

.secondary-navigation__socials-link::before {
  content: '';
  position: absolute;
  inset: -0.5rem;
}

@media (hover: none) {
  .secondary-navigation__socials-link {
    cursor: none;
  }
}

.secondary-navigation__socials-link-svg {
  width: 2.40rem;
  height: 2.40rem;
}

@media screen and (max-width: 56.5em) {
  .secondary-navigation__socials-link-svg {
    width: 3.60rem;
    height: 3.60rem;
  }
}

.secondary-navigation__socials-link-svg-path {
  fill: #D2D5DD;
  transition: fill var(--transition-time-slow) linear;
}

.secondary-navigation__socials-link:focus-visible .secondary-navigation__socials-link-svg-path {
  fill: #AA9DFA;
}

.secondary-navigation__socials-link:hover:not(:focus-visible) .secondary-navigation__socials-link-svg-path {
  fill: #6D31EE;
}

.secondary-navigation__socials-link:active:not(:focus-visible) .secondary-navigation__socials-link-svg-path {
  fill: #4F28A5;
  transition: fill var(--transition-time-fast) ease-out;
}

@media (hover: none) {
  .secondary-navigation__socials-link:focus-visible .secondary-navigation__socials-link-svg-path {
    fill: #D2D5DD;
  }

  .secondary-navigation__socials-link:hover:not(:focus-visible) .secondary-navigation__socials-link-svg-path {
    fill: #D2D5DD;
  }
}
