body {
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  font-family: Muller, sans-serif;
  font-size: 1.60rem;
  line-height: 1.00;
  color: var(--text-color-primary);
  background-color: var(--backgroung-color-primary);
}
