:root {
  /* text */
  --text-color-primary: #121723;
  --text-color-contrast: #FFF;
  --text-color-contrast-secondary: #A1A6B4;
  --text-color-hover: #AA9DFA;
  --text-color-active: #4F28A5;
  --text-color-active-secondary: #6D31EE;
  --text-color-warning: #D52B1E;

  /* backgroung-color */
  --backgroung-color-primary: #FFF;
  --backgroung-color-primary-secondary: #A1A6B4;
  --backgroung-color-contrast: #121723;
  --backgroung-color-contrast-secondary: #292E39;
  --background-color-hover: #AA9DFA;
  --background-color-active: #4F28A5;
  --background-color-active-secondary: #6D31EE;

  /* foreground */
  --foreground-color-primary: #FFF;
  --foreground-color-hover: #AA9DFA;
  --foreground-color-active: #4F28A5;
  --foreground-color-active-secondary: #6D31EE;
  --foreground-color-warning: #D52B1E;

  /* animation */
  --transition-time-slow: 0.210s;
  --transition-time-fast: 0.100s;
}
