@import url('./__title/podcasts__title.css');
@import url('./__list/podcasts__list.css');

.podcasts {
  margin: 0;
  padding: 0;
  background-color: #E6E8EC;
}

.podcasts__container {
  padding: 9.40rem 0;
}

@media screen and (max-width: 40em) {
  .podcasts__container {
    padding: 5.40rem 0;
  }
}
