<ul class="guests__list">
  <li class="guests__li">
    <article class="guests__item">
      <div class="guests__item-img-container">
        <img src="<%= require('./guest_1.webp') %>" width="432" height="272" alt="Портрет Ольги Мартыновой" loading="lazy" class="guests__item-img">
      </div>
      <div class="guests__item-content-wrapper">
        <h3 class="guests__item-title">Ольга Мартынова</h3>
        <p class="guests__item-paragraph">
          Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты &laquo;Коммерсантъ&raquo;. Ведёт активную блогерскую деятельность как куратор музея &laquo;Гараж&raquo;, коим является с&nbsp;2016&nbsp;года.
        </p>
        <a href="#" class="guests__item-broadcast-link">Эфиры с&nbsp;гостем</a>
      </div>
    </article>
  </li>
  <li class="guests__li">
    <article class="guests__item">
      <div class="guests__item-img-container">
        <img src="<%= require('./guest_2.webp') %>" width="432" height="272" alt="Портрет Дениса Гришина" loading="lazy" class="guests__item-img">
      </div>
      <div class="guests__item-content-wrapper">
        <h3 class="guests__item-title">Денис Гришин</h3>
        <p class="guests__item-paragraph">
          Однозначно, элементы политического процесса являются только методом политического участия и&nbsp;смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени совершённой неузнаваемости, из-за чего возрастает их&nbsp;статус бесполезности.
        </p>
        <a href="#" class="guests__item-broadcast-link">Эфиры с&nbsp;гостем</a>
      </div>
    </article>
  </li>
  <li class="guests__li">
    <article class="guests__item">
      <div class="guests__item-img-container">
        <img src="<%= require('./guest_3.webp') %>" width="432" height="272" alt="Портрет Ольги Мартыновой" loading="lazy" class="guests__item-img">
      </div>
      <div class="guests__item-content-wrapper">
        <h3 class="guests__item-title">Ольга Мартынова</h3>
        <p class="guests__item-paragraph">
          С&nbsp;другой стороны, высококачественный прототип будущего проекта выявляет срочную потребность дальнейших направлений развития. В&nbsp;рамках спецификации современных стандартов, реплицированные с&nbsp;зарубежных источников.
        </p>
        <a href="#" class="guests__item-broadcast-link">Эфиры с&nbsp;гостем</a>
      </div>
    </article>
  </li>
</ul>
