.guests__list {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5.00rem;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

@media screen and (max-width: 56.5em) {
  .guests__list {
    gap: 5.25rem;
  }
}

@media screen and (max-width: 40em) {
  .guests__list {
    gap: 3.00rem;
  }
}

.guests__li {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0;
}

.guests__item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  outline: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 27.20rem;
  background-color: var(--backgroung-color-contrast);
}

@media screen and (max-width: 56.5em) {
  .guests__item {
    flex-direction: column;
    min-height: auto;
    min-width: 25.60rem;
  }
}

.guests__item-img-container {
  max-width: 43.20rem;
  min-width: 43.20rem;
  min-height: 27.20rem;
  margin-right: 3.00rem;
}

@media screen and (max-width: 56.5em) {
  .guests__item-img-container {
    margin-right: 0;
    margin-bottom: 3.00rem;
    width: auto;
    max-width: none;
    min-width: auto;
    min-height: auto;
    height: 34.00rem;
  }
}

@media screen and (max-width: 40em) {
  .guests__item-img-container {
    margin-bottom: 1.20rem;
    height: 15.90rem;
  }
}

.guests__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.guests__item-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.80rem;
}

.guests__item-title {
  margin: 0;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 2.00rem;
  font-weight: 500;
  line-height: 1.00;
  color: var(--text-color-contrast);
}

.guests__item-paragraph {
  margin: 0;
  margin-bottom: auto;
  padding: 0;
  max-width: 46.00rem;
  font-family: Muller, sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.80;
  color: var(--text-color-contrast-secondary);
}

@media screen and (max-width: 56.5em) {
  .guests__item-paragraph {
    margin-bottom: 2.20rem;
    max-width: 36.20rem;
  }
}

.guests__item-broadcast-link {
  display: inline-block;
  margin: 0;
  padding: 0.80rem 1.55rem;
  border: 2px solid #AA9DFA;
  border-radius: 7.70rem;
  outline: none;
  font-family: Muller, sans-serif;
  font-size: 1.60rem;
  font-weight: 500;
  font-style: normal;
  color: var(--text-color-hover);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background-color: var(--backgroung-color-contrast);
  transition: border-color var(--transition-time-slow) linear, color var(--transition-time-slow) linear, background-color var(--transition-time-slow) linear;
}

@media (hover: none) {
  .guests__item-broadcast-link {
    cursor: none;
  }
}

.guests__item-broadcast-link:focus-visible {
  border-color: var(--text-color-active-secondary);
  color: var(--text-color-contrast);
  background-color: var(--background-color-active-secondary);
}

.guests__item-broadcast-link:hover:not(:focus-visible) {
  border-color: var(--foreground-color-hover);
  color: var(--text-color-contrast);
  background-color: var(--background-color-hover);
}

@media (hover: none) {
  .guests__item-broadcast-link:focus-visible {
    border-color: var(--foreground-color-hover);
    color: var(--text-color-hover);
    background-color: var(--backgroung-color-contrast);
  }

  .guests__item-broadcast-link:hover:not(:focus-visible) {
    border-color: var(--foreground-color-hover);
    color: var(--text-color-hover);
    background-color: var(--backgroung-color-contrast);
  }
}

.guests__item-broadcast-link:active:not(:focus-visible) {
  border-color: var(--text-color-active);
  color: var(--text-color-contrast);
  background-color: var(--background-color-active);
  transition: border-color var(--transition-time-fast) linear, color var(--transition-time-fast) ease-out, background-color var(--transition-time-fast) ease-out;
}
