.advertisement__price {
  margin: 0;
  margin-bottom: 3.30rem;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 3.00rem;
  font-weight: 500;
  line-height: 1.00;
  color: var(--text-color-contrast);
}

@media screen and (max-width: 40em) {
  .advertisement__price {
    margin-bottom: 1.60rem;
    font-size: 2.40rem;
  }
}
