<section class="hero">
  <div class="container hero__container">
    <div class="hero__content-wrappper">
      <%= require('./__title/hero__title.ejs')() %>
      <%= require('./__paragraph/hero__paragraph.ejs')() %>
      <%= require('./__cte-button/hero__cte-button.ejs')() %>
    </div>
  </div>
</section>
