@import url('./__title/hero__title.css');
@import url('./__paragraph/hero__paragraph.css');
@import url('./__cte-button/hero__cte-button.css');

.hero {
  margin: 0;
  padding: 0;
  background-color: var(--backgroung-color-primary);
}

.hero__container {
  padding: 9.40rem 0;
  background: right center / 35.0rem 37.20rem no-repeat url('./microphone.webp');
}

@media screen and (max-width: 82.5em) {
  .hero__container {
    padding: 9.00rem 0;
    background-size: 25.6rem 26.20rem;
  }
}

@media screen and (max-width: 56.5em) {
  .hero__container {
    background: none;
  }
}

@media screen and (max-width: 40em) {
  .hero__container {
    padding: 4.10rem 0;
    padding-top: 3.80rem;
  }
}

.hero__content-wrappper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 63.50rem;
  height: 100%;
}

@media screen and (max-width: 82.5em) {
  .hero__content-wrappper {
    max-width: 54.00rem;
  }
}
