.about-us__ssatForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  max-width: 92.00rem;
  width: 100%;
}

.about-us__ssatForm-fieldset {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.00rem;
  margin: 0;
  margin-bottom: 3.00rem;
  padding: 0;
  border: none;
  width: 100%;
}

@media screen and (max-width: 40em) {
  .about-us__ssatForm-fieldset {
    margin-bottom: 2.80rem;
  }
}

.about-us__ssatForm-fieldset-legend {
  margin: 0;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 1.60rem;
  font-weight: 500;
  line-height: 1.00;
  color: var(--text-color-contrast-secondary);
}

.about-us__ssatForm-fieldset-legend_hidden {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.about-us__ssatForm-field-group-ssatText {
  position: relative;
  margin: 0;
  padding: 0;
  flex: 1 0 100%;
}

.about-us__ssatForm-field-group-ssatUserName {
  position: relative;
  margin: 0;
  padding: 0;
  flex: 0 1 calc((100% - 3.00rem) / 2);
}

.about-us__ssatForm-field-group-ssatUserEmail {
  position: relative;
  margin: 0;
  padding: 0;
  flex: 0 1 calc((100% - 3.00rem) / 2);
}

@media screen and (max-width: 56.5em) {
  .about-us__ssatForm-field-group-ssatUserName {
    flex: 1 0 100%;
  }

  .about-us__ssatForm-field-group-ssatUserEmail {
    flex: 1 0 100%;
  }
}

.about-us__ssatForm-field-validation-error {
  position: absolute;
  top: 0.90rem;
  left: 3.20rem;
  font-size: 1.20rem;
  font-weight: 400;
  line-height: 1.00;
  font-style: normal;
  color: var(--text-color-warning);
}

.about-us__ssatForm-label {
  margin: 0;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 1.60rem;
  font-weight: 500;
  line-height: 1.00;
  font-style: normal;
  color: var(--text-color-contrast-secondary);
  cursor: pointer;
  user-select: none;
}

.about-us__ssatForm-label_hidden {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.about-us__ssatForm-textarea {
  overflow: hidden;
  padding: 2.50rem 3.20rem;
  border: 1px solid var(--text-color-contrast);
  border-radius: 3.00rem;
  outline: none;
  resize: none;
  width: 100%;
  height: 15.00rem;
  font-family: Muller, sans-serif;
  font-size: 2.00rem;
  font-weight: 400;
  line-height: 1.00;
  font-style: normal;
  color: var(--text-color-contrast-secondary);
  caret-color: var(--text-color-contrast-secondary);
  background-color: var(--backgroung-color-contrast);
  transition: border-color var(--transition-time-slow) linear, color var(--transition-time-slow) linear, caret-color var(--transition-time-slow) linear, background-color var(--transition-time-slow) linear;
}

.about-us__ssatForm-textarea:focus-visible {
  border-color: var(--foreground-color-hover);
  color: var(--text-color-contrast-secondary);
  caret-color: var(--text-color-contrast-secondary);
  background-color: var(--backgroung-color-contrast-secondary);
}

.about-us__ssatForm-textarea:hover:not(:focus-visible) {
  border-color: var(--text-color-contrast);
  color: var(--text-color-contrast-secondary);
  caret-color: var(--text-color-contrast-secondary);
  background-color: var(--backgroung-color-contrast-secondary);
}

@media (hover: none) {
  .about-us__ssatForm-textarea:focus-visible {
    border-color: var(--text-color-contrast);
    color: var(--text-color-contrast-secondary);
    caret-color: var(--text-color-contrast-secondary);
    background-color: var(--backgroung-color-contrast);
  }

  .about-us__ssatForm-textarea:hover:not(:focus-visible) {
    border-color: var(--text-color-contrast);
    color: var(--text-color-contrast-secondary);
    caret-color: var(--text-color-contrast-secondary);
    background-color: var(--backgroung-color-contrast);
  }
}

.about-us__ssatForm-textarea:active:not(:focus-visible) {
  border-color: var(--text-color-contrast);
  color: var(--text-color-contrast);
  caret-color: var(--text-color-contrast);
  background-color: var(--backgroung-color-contrast);
  transition: border-color var(--transition-time-slow) ease-out, color var(--transition-time-slow) ease-out, caret-color var(--transition-time-slow) ease-out, background-color var(--transition-time-slow) ease-out;
}

.about-us__ssatForm-textarea:not(:placeholder-shown:focus-visible) {
  border-color: var(--text-color-contrast);
  color: var(--text-color-contrast);
  caret-color: var(--text-color-contrast);
  background-color: var(--backgroung-color-contrast);
  transition: border-color var(--transition-time-slow) ease-out, color var(--transition-time-slow) ease-out, caret-color var(--transition-time-slow) ease-out, background-color var(--transition-time-slow) ease-out;
}

.about-us__ssatForm-textarea::placeholder {
  font-family: Muller, sans-serif;
  font-size: 2.00rem;
  font-weight: 400;
  line-height: 1.00;
  font-style: normal;
  color: var(--text-color-contrast-secondary);
  transition: color var(--transition-time-slow) linear;
}

.about-us__ssatForm-textarea:active::placeholder {
  color: var(--text-color-contrast);
  transition: color var(--transition-time-fast) ease-out;
}

.about-us__ssatForm-textarea_invalid,
.about-us__ssatForm-textarea_invalid:focus-visible,
.about-us__ssatForm-textarea_invalid:hover:not(:focus-visible),
.about-us__ssatForm-textarea_invalid:active:not(:focus-visible),
.about-us__ssatForm-textarea_invalid:not(:placeholder-shown:focus-visible) {
  border-color: var(--foreground-color-warning);
  color: var(--text-color-contrast);
  caret-color: var(--text-color-contrast);
  background-color: var(--backgroung-color-contrast);
}

.about-us__ssatForm-textarea_invalid::placeholder {
  border-color: var(--foreground-color-warning);
  color: var(--text-color-contrast-secondary);
  caret-color: var(--text-color-contrast-secondary);
  background-color: var(--backgroung-color-contrast);
}

@media (hover: none) {
  .about-us__ssatForm-textarea_invalid:focus-visible,
  .about-us__ssatForm-textarea_invalid:hover:not(:focus-visible) {
    border-color: var(--text-color-contrast);
    color: var(--text-color-contrast-secondary);
    caret-color: var(--text-color-contrast-secondary);
    background-color: var(--backgroung-color-contrast);
  }
}

.about-us__ssatForm-input {
  overflow: hidden;
  padding: 2.30rem 3.00rem;
  border: 1px solid var(--text-color-contrast);
  border-radius: 3.00rem;
  outline: none;
  width: 100%;
  font-family: Muller, sans-serif;
  font-size: 2.00rem;
  font-weight: 400;
  line-height: 1.00;
  font-style: normal;
  color: var(--text-color-contrast-secondary);
  caret-color: var(--text-color-contrast-secondary);
  background-color: var(--backgroung-color-contrast);
  transition: border-color var(--transition-time-slow) linear, color var(--transition-time-slow) linear, caret-color var(--transition-time-slow) linear, background-color var(--transition-time-slow) linear;
}

@media screen and (max-width: 40em) {
  .about-us__ssatForm-input {
    padding: 1.50rem 2.30rem;
  }
}

.about-us__ssatForm-input:focus-visible {
  border-color: var(--foreground-color-hover);
  color: var(--text-color-contrast-secondary);
  caret-color: var(--text-color-contrast-secondary);
  background-color: var(--backgroung-color-contrast-secondary);
}

.about-us__ssatForm-input:hover:not(:focus-visible) {
  border-color: var(--text-color-contrast);
  color: var(--text-color-contrast-secondary);
  caret-color: var(--text-color-contrast-secondary);
  background-color: var(--backgroung-color-contrast-secondary);
}

@media (hover: none) {
  .about-us__ssatForm-input:focus-visible {
    border-color: var(--text-color-contrast);
    color: var(--text-color-contrast-secondary);
    caret-color: var(--text-color-contrast-secondary);
    background-color: var(--backgroung-color-contrast);
  }

  .about-us__ssatForm-input:hover:not(:focus-visible) {
    border-color: var(--text-color-contrast);
    color: var(--text-color-contrast-secondary);
    caret-color: var(--text-color-contrast-secondary);
    background-color: var(--backgroung-color-contrast);
  }
}

.about-us__ssatForm-input:active:not(:focus-visible) {
  border-color: var(--text-color-contrast);
  color: var(--text-color-contrast);
  caret-color: var(--text-color-contrast);
  background-color: var(--backgroung-color-contrast);
  transition: border-color var(--transition-time-slow) ease-out, color var(--transition-time-slow) ease-out, caret-color var(--transition-time-slow) ease-out, background-color var(--transition-time-slow) ease-out;
}

.about-us__ssatForm-input:not(:placeholder-shown:focus-visible) {
  border-color: var(--text-color-contrast);
  color: var(--text-color-contrast);
  caret-color: var(--text-color-contrast);
  background-color: var(--backgroung-color-contrast);
  transition: border-color var(--transition-time-slow) ease-out, color var(--transition-time-slow) ease-out, caret-color var(--transition-time-slow) ease-out, background-color var(--transition-time-slow) ease-out;
}

.about-us__ssatForm-input::placeholder {
  font-family: Muller, sans-serif;
  font-size: 2.00rem;
  font-weight: 400;
  line-height: 1.00;
  font-style: normal;
  color: var(--text-color-contrast-secondary);
  transition: color var(--transition-time-slow) linear;
}

.about-us__ssatForm-input:active::placeholder {
  color: var(--text-color-contrast);
  transition: color var(--transition-time-fast) ease-out;
}

.about-us__ssatForm-input_invalid,
.about-us__ssatForm-input_invalid:focus-visible,
.about-us__ssatForm-input_invalid:hover:not(:focus-visible),
.about-us__ssatForm-input_invalid:active:not(:focus-visible),
.about-us__ssatForm-input_invalid:not(:placeholder-shown:focus-visible) {
  border-color: var(--foreground-color-warning);
  color: var(--text-color-contrast);
  caret-color: var(--text-color-contrast);
  background-color: var(--backgroung-color-contrast);
}

@media (hover: none) {
  .about-us__ssatForm-input_invalid:focus-visible,
  .about-us__ssatForm-input_invalid:hover:not(:focus-visible) {
    border-color: var(--text-color-contrast);
    color: var(--text-color-contrast-secondary);
    caret-color: var(--text-color-contrast-secondary);
    background-color: var(--backgroung-color-contrast);
  }
}

.about-us__ssatForm-submit-button {
  margin: 0;
  margin-bottom: 3.00rem;
  padding: 2.50rem 5.40rem;
  border: none;
  border-radius: 4.00rem;
  outline: none;
  text-align: center;
  vertical-align: middle;
  font-family: Muller, sans-serif;
  font-size: 2.00rem;
  font-weight: 500;
  line-height: 1.00;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color-contrast);
  background-color: var(--background-color-active-secondary);
  cursor: pointer;
  transition: color var(--transition-time-slow) linear, background-color var(--transition-time-slow) linear;
}

@media screen and (max-width: 40em) {
  .about-us__ssatForm-submit-button {
    margin-bottom: 2.00rem;
    padding: 1.70rem 4.45rem;
    font-size: 1.60rem;
  }
}

@media (hover: none) {
  .about-us__ssatForm-submit-button {
    cursor: none;
  }
}

.about-us__ssatForm-submit-button:focus-visible {
  outline: 3px solid var( --foreground-color-active);
  outline-offset: 0;
  background-color: var(--background-color-hover);
}

.about-us__ssatForm-submit-button:hover:not(:focus-visible) {
  outline: none;
  background-color: var(--background-color-hover);
}

.about-us__ssatForm-submit-button:active:not(:focus-visible) {
  outline: none;
  background-color: var(--background-color-active);
  transition: color var(--transition-time-fast) ease-out, background-color var(--transition-time-fast) ease-out;
}

@media (hover: none) {
  .about-us__ssatForm-submit-button:focus-visible {
    outline: none;
    background-color: var(--background-color-active-secondary);
  }

  .about-us__ssatForm-submit-button:hover:not(:focus-visible) {
    outline: none;
    background-color: var(--background-color-active-secondary);
  }
}

.about-us__ssatForm-consent-checkbox {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: Muller, sans-serif;
  font-size: 1.20rem;
  font-weight: 500;
  line-height: 1.00;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color-contrast);
  cursor: pointer;
  user-select: none;
}

@media (hover: none) {
  .about-us__ssatForm-consent-checkbox {
    cursor: none;
  }
}

.about-us__ssatForm-consent-checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@media (hover: none) {
  .about-us__ssatForm-consent-checkbox-input {
    cursor: none;
  }
}

.about-us__ssatForm-consent-checkbox-checkmark {
  position: relative;
  margin: 0;
  margin-right: 0.80rem;
  padding: 0;
  width: 1.40rem;
  height: 1.40rem;
  outline: 1px solid var(--foreground-color-primary);
}

@media screen and (max-width: 40em) {
  .about-us__ssatForm-consent-checkbox-checkmark {
    width: 1.30rem;
    height: 1.30rem;
  }
}

.about-us__ssatForm-consent-checkbox-input_invalid + .about-us__ssatForm-consent-checkbox-checkmark {
  outline: 1px solid var(--foreground-color-warning);
}

.about-us__ssatForm-consent-checkbox-input:focus-visible + .about-us__ssatForm-consent-checkbox-checkmark {
  outline: 1px solid var(--foreground-color-hover);
}

.about-us__ssatForm-consent-checkbox-input_invalid:focus-visible + .about-us__ssatForm-consent-checkbox-checkmark,
.about-us__ssatForm-consent-checkbox-input_invalid:hover:not(:focus-visible) + .about-us__ssatForm-consent-checkbox-checkmark,
.about-us__ssatForm-consent-checkbox-input_invalid:active:not(:focus-visible) + .about-us__ssatForm-consent-checkbox-checkmark {
  outline: 1px solid var(--foreground-color-warning);
}

@media (hover: none) {
  .about-us__ssatForm-consent-checkbox-input_invalid:focus-visible + .about-us__ssatForm-consent-checkbox-checkmark,
  .about-us__ssatForm-consent-checkbox-input_invalid:hover:not(:focus-visible) + .about-us__ssatForm-consent-checkbox-checkmark {
    outline: 1px solid var(--foreground-color-primary);
  }
}

@media (hover: none) {
  .about-us__ssatForm-consent-checkbox-input:focus-visible + .about-us__ssatForm-consent-checkbox-checkmark {
    outline: 1px solid var(--foreground-color-primary);
  }
}

.about-us__ssatForm-consent-checkbox-checkmark::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1.40rem;
  height: 1.40rem;
  background: center center / 1.20rem 1.20rem no-repeat url('./checkmark.svg');
  opacity: 0;
  transition: opacity var(--transition-time-fast) ease-out;
}

@media screen and (max-width: 40em) {
  .about-us__ssatForm-consent-checkbox-checkmark::after {
    background-size: 1.10rem 1.10rem;
  }
}

.about-us__ssatForm-consent-checkbox-input:checked ~ .about-us__ssatForm-consent-checkbox-checkmark::after {
  opacity: 1.00;
}

.about-us__ssatForm-consent-checkbox-label-text {
  margin: 0;
  padding: 0;
  font-family: Muller, sans-serif;
  font-size: 1.20rem;
  font-weight: 500;
  line-height: 1.00;
  font-style: normal;
  color: var(--text-color-contrast);
}

@media screen and (max-width: 40em) {
  .about-us__ssatForm-consent-checkbox-label-text {
    font-size: 0.90rem;
  }
}

.about-us__ssatForm-consent-error_hidden {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
