<ul class="about-us__author-list">
  <li class="about-us__author-li">
    <article class="about-us__author-item">
      <div class="about-us__author-item-img-container">
        <img src="<%= require('./author_1.webp') %>" width="255" height="255" alt="Фотография Дмитрия Гутенберга" class="about-us__author-item-img">
      </div>
      <h3 class="about-us__author-item-title">Дмитрий Гутенберг</h3>
      <p class="about-us__author-item-paragraph">Эксперт (ну, почти) по&nbsp;всем вопросам (почти)</p>
    </article>
  </li>
  <li class="about-us__author-li">
    <article class="about-us__author-item">
      <div class="about-us__author-item-img-container">
        <img src="<%= require('./author_2.webp') %>" width="255" height="255" alt="Фотография Анны Васильевой" class="about-us__author-item-img">
      </div>
      <h3 class="about-us__author-item-title">Анна Васильева</h3>
      <p class="about-us__author-item-paragraph">Как я&nbsp;здесь оказалась? А&nbsp;главное&nbsp;&mdash; зачем?</p>
    </article>
  </li>
  <li class="about-us__author-li">
    <article class="about-us__author-item">
      <div class="about-us__author-item-img-container">
        <img src="<%= require('./author_3.webp') %>" width="255" height="255" alt="Фотография Петра Дмитриевского" class="about-us__author-item-img">
      </div>
      <h3 class="about-us__author-item-title">Пётр Дмитриевский</h3>
      <p class="about-us__author-item-paragraph">Господа! Внимание! Благодарю за&nbsp;внимание!</p>
    </article>
  </li>
  <li class="about-us__author-li">
    <article class="about-us__author-item">
      <div class="about-us__author-item-img-container">
        <img src="<%= require('./author_4.webp') %>" width="255" height="255" alt="Фотография Татьяны Флегановой" class="about-us__author-item-img">
      </div>
      <h3 class="about-us__author-item-title">Татьяна Флеганова</h3>
      <p class="about-us__author-item-paragraph">Одна я&nbsp;в&nbsp;пальто стою красивая, а&nbsp;вокруг...</p>
    </article>
  </li>
</ul>
